@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  width: 1366px;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  background: url(/images/background.png);
  height: 768px;
}

.container {
  width: 1044px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.header-container {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-block a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 46px;
  left: 161px;
}

.hover img {
  width: 53px;
  height: 47px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  opacity: 0;
}

.logo:hover a,
.logo:hover img {
  color: #f26522;
  opacity: 1;
}

.header-link:first-child {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
  width: 140px;
  margin-left: 8px;
}

.header-link:last-child{
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  margin-left: 8px;
}

.contact {
  position: absolute;
  top: 46px;
  right: 177px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact a {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}


.header-contact:first-child{
  margin-bottom: 19px;
}

.header-contact:last-child {
  margin-bottom: 17px;
}

.contact:hover a {
  color: #f26522;
}

.main {
  position: absolute;
  top: 124px;
  left: 164px;
  height: 560px;
}

.main-container-image img {
  width: 300px;
  height: 220px;
}

.main-container-hover-block-item p {
  font-weight: 400;
  color: #fff;
}

.main-container-hover-block-item p:first-child {
  font-size: 10px;
  line-height: 10px;
  padding: 7px 257px 8px 16px;
}

.main-container-hover-block-item p:nth-child(2) {
  font-size: 20px;
  line-height: 20px;
  padding: 0 243px 12px 16px;
}

.main-container-hover-block-item p:last-child {
  position: relative;
  top: -29px;
  left: 180px;
  font-size: 14px;
  line-height: 14px;
}

.main-container-hover-block-item p:last-child::after {
  content: ">";
  padding-left: 16px;
  padding-bottom: 14px;
}

.main-container-hover-block-item img {
  width: 5px;
  height: 10px;
}

.main-container-block:hover .main-container-hover-block-item {
  height: 55px;
}

.box-1 {
  position: absolute;
  top: 0;
  left: 0;
}

.box-1:hover a {
  color: #f26522;
}

.overlay-1 {
  position: absolute;
  bottom: 342px;
  left: 2px;
  background-color: #f26522;
  width: 297px;
  overflow: hidden;
  height: 0;
  transition: 1s;
}


.box-2 {
  position: absolute;
  top: 0px;
  left: 361px;
}

.box-2:hover a {
  color: #f26522;
}

.overlay-2 {
  position: absolute;
  bottom: 342px;
  left: 365px;
  background-color: #f26522;
  width: 292px;
  overflow: hidden;
  height: 0;
  transition: 1s;
}


.box-3 {
  position: absolute;
  top: 0;
  left: 723px;
}

.box-3:hover a {
  color: #f26522;
}

.overlay-3 {
  position: absolute;
  bottom: 342px;
  left: 725px;
  background-color: #f26522;
  width: 297px;
  overflow: hidden;
  height: 0;
  transition: 1s;
}

.box-4 {
  position: absolute;
  top: 298px;
  left: 0;
}

.box-4:hover a {
  color: #f26522;
}

.overlay-4 {
  position: absolute;
  bottom: 42px;
  left: 0px;
  background-color: #f26522;
  width: 299px;
  overflow: hidden;
  height: 0;
  transition: 1s;
}

.box-5 {
  position: absolute;
  top: 298px;
  left: 361px;
}

.box-5:hover a {
  color: #f26522;
}

.overlay-5 {
  position: absolute;
  bottom: 42px;
  left: 363px;
  background-color: #f26522;
  width: 297px;
  overflow: hidden;
  height: 0;
  transition: 1s;
}
.box-6 {
  position: absolute;
  top: 298px;
  left: 723px;
}

.box-6:hover a {
  color: #f26522;
}

.overlay-6 {
  position: absolute;
  bottom: 42px;
  left: 725px;
  background-color: #f26522;
  width: 297px;
  overflow: hidden;
  height: 0;
  transition: 1s;
}

.main-container-block-item > a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 20px;
  color: #fff;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.footer {
  position: absolute;
  left: 530px;
  bottom: 15px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin-top: 49px;
  margin-bottom: 15px;
  color: #fff;
}
